footer
{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    background-color: #eee7d9;
    width: 100%;
    font-family: Arvo;
    padding: 5px;
}
footer h5
{
    padding: 0px 10px;
    margin: 5px;
    font-size: 15px;
    color: black;
}
footer a
{
    color: black;
    font-size: 15px;
    text-decoration: underline;
}
footer a:hover
{
    color: grey;
    font-size: 15.5px;
}