@import url('https://fonts.googleapis.com/css?family=Arvo');


/*home CSS mostly*/
#photoCollage
{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0px;
  padding: 0px;
  align-items: flex-start;
  counter-reset: item;
}
#photoCollage .homeRow
{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0px;
  padding: 0px;
  flex-wrap: nowrap;
}
.item
{
  width:16.66667%;
  margin: 5px;
  padding: 0px;
  border: 2px solid rgba(119, 136, 153, 0.776);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 5px 10px;
}
.item img
{
  width: 100%;
  height: 200px;
  margin: auto;
  border: 4px solid rgba(255, 166, 0, 0.555);
  border-radius: 5px;
}
.itemDetails
{
  z-index: 1;
  padding: 15px;
  background: #fff;
  text-transform: lowercase;
  letter-spacing: 1px;
  color: #828282;
  font-family: "Arvo";
}
  .itemDetails:before 
  {
    counter-increment: item;
    content: counter(item);
    font-weight: bold;
    font-size: 1.1rem;
    padding-right: 0.5em;
    color: #444;
  }
  
h1
{
    text-align: center;
    width: 70%;
    font-family: "Arvo";
    font-size: 30px;
    padding: 10px;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret 3s step-end infinite;
}
.noAnimation
{
  animation: none;
  border: none;
  overflow: visible;
}
/* The typing effect */
@keyframes typing 
{
    from { width: 0 }
    to { width: 70% }
}
  
/* The typewriter cursor effect */
@keyframes blink-caret 
{
  from, to { border-color: transparent }
  50% { border-color: orange; }
}




.indexGrid
{
  padding: 20px;
}

.row img
{
  height: 400px;

}


form
{
  width: 60%;
  margin: 0px auto;
}