/*Navbar CSS, needs to be moved to a seperate file eventually*/
@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Handlee');

#topNav
{
    padding: 10px 30px;
    background-color: #eee7d9;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 2;
}
#LHS, #RHS
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#topNav img
{
    width: 40px;
    height: 40px;
    margin: auto;
    filter: invert(77%) sepia(69%) saturate(3657%) hue-rotate(359deg) brightness(101%) contrast(107%);
}
#topNav span
{
    font-size: 20px;
    margin-left: 20px;
    font-family: "Handlee";
}
#topNav ul
{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}
#topNav a
{
    font-size: 20px;
    padding: 0px 20px;
    margin: 0px;
    color: black;
    font-family: "Arvo";
    text-transform: uppercase;
}
main
{
    margin-top: 100px;
    margin-bottom: 40px;
}